<div class="container">
  <header class="mb-3">
    <div class="text-center my-3">
      <img src="/images/logo.svg" width="300" height="70">
    </div>

    <h2 class="h3 text-center text-muted">
      Aplicaciones simples
    </h2>
  </header>

  <hr class="my-4">

  <div>
    <h3 class="h5 text-center">Nuestro trabajo</h3>

    <p class="text-muted text-center mb-3">
      Aplicaciones web sin frustraciones, para colaborar, compartir información
      y tomar decisiones
    </p>

    <div class="row justify-content-md-center mt-4">
      <div class="col-md-6 col-lg-4 mb-3 mb-md-0">
        <a class="btn btn-outline-secondary btn-block btn-lg" href="https://www.mawidabp.com/">
          Mawida BP
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="btn btn-outline-secondary btn-block btn-lg" href="https://www.greditsoft.com/">
          Gredit
        </a>
      </div>
    </div>
  </div>

  <hr>

  <footer class="text-muted small">
    <div class="row">
      <div class="col-6">
        <p>
          <a href="/" title="Cirope">Cirope</a> © <%= Time.now.year %> |
          <a href="mailto:soporte@cirope.com">soporte@cirope.com</a>
        </p>
      </div>

      <div class="col-6">
        <p class="text-right">
          Representantes comerciales: <a href="http://www.dromobox.com/">Dromobox</a>
        </p>
      </div>
    </div>
  </footer>
</div>
