<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Cirope / Aplicaciones simples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script charset="utf-8">
      if (location.protocol !== 'https:' && !location.host.match(/^localhost/)) {
        location.replace(
          'https:' + location.href.substring(location.protocol.length)
        )
      }
    </script>

    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/main.css" media="screen">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <%= content %>
  </body>
</html>
