<hr />

<footer class="text-muted">
  <p class="pull-right">
    <a href="http://validator.w3.org/check?uri=www.cirope.com">HTML 5</a>
  </p>

  <p>
    <a href="/" title="Cirope">Cirope</a> © <%= Time.now.year %> |
    <a href="mailto:soporte@cirope.com">soporte@cirope.com</a>
  </p>
</footer>
