<footer class="footer">
  <p>
    <a href="https://www.cirope.com/" title="Cirope">Cirope</a> <%= Time.now.year %> |
    Hecho en <a href="http://cuba.is/" title="Cuba">Cuba</a> con amor
  </p>
</footer>
