<footer class="footer">
  <p class="pull-right">
    <a href="http://validator.w3.org/check/referer">HTML 5</a> |
    <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
  </p>

  <p>
    <a href="https://www.cirope.com/" title="Cirope">Cirope</a> <%= Time.now.year %> |
    Hecho en <a href="http://cuba.is/" title="Cuba">Cuba</a> con amor
  </p>
</footer>
