<footer class="footer">
  <p class="pull-right">
    <a href="//validator.w3.org/check/referer">HTML 5</a> |
    <a href="//jigsaw.w3.org/css-validator/check/referer">CSS</a>
  </p>

  <p>
    <a href="//www.cirope.com/" title="Cirope">Cirope</a> <%= Time.now.year %> |
    Hecho en <a href="http://cuba.is/" title="Cuba">Cuba</a> con amor |
    ¿Preguntas? <a href="mailto:soporte@cirope.com">soporte@cirope.com</a>
  </p>
</footer>
