<hr />

<footer class="text-muted">
  <p class="pull-right">
    <a href="//validator.w3.org/check/referer">HTML 5</a> |
    <a href="//jigsaw.w3.org/css-validator/check/referer">CSS</a>
  </p>

  <p>
    <a href="/" title="Cirope">Cirope</a> © <%= Time.now.year %>
  </p>
</footer>
