<%= render './content/navbar.html.erb', active: 'home' %>

<div class="container">
  <div class="page-header">
    <header>
      <div class="text-center">
        <!--[if lt IE 9]>
          <img src="/images/logo.png" alt="Cirope" width="300" height="70">
        <![endif]-->
        <!--[if gt IE 8]><!-->
          <embed src="/images/logo.svg" type="image/svg+xml" />
        <!--<![endif]-->
      </div>

      <h2 class="text-center">
        Aplicaciones simples y disfrutables, pensadas por y para personas
      </h2>
    </header>
    <br />
  </div>

  <div>
    <h3 class="text-center">Nuestro trabajo</h3>
    <p class="text-muted text-center">
      Aplicaciones web sin frustraciones, para colaborar, compartir información
      y tomar decisiones
    </p>

    <div class="row">
      <div class="col-lg-4">
        <h2><a href="/libreduca" title="Libreduca">Libreduca</a></h2>
        <p>
          Mejore la comunicación de su comunidad educativa, comparta contenidos
          y colecte datos para mejorar
        </p>
        <p>
          <a href="mailto:soporte@libreduca.com">soporte@libreduca.com</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2><a href="/mawidabp" title="Mawida bp">Mawida <em>bp</em></a></h2>
        <p>
          Defina y revise sus buenas prácticas, colabore para implementarlas y
          mejorarlas
        </p>
        <p>
          <a href="mailto:soporte@mawidabp.com">soporte@mawidabp.com</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2><a href="/mawidaqa" title="Mawida qa">Mawida <em>qa</em></a></h2>
        <p>
          Administre sus documentos, planifique sus capacitaciones y organize sus
          actividades de calidad
        </p>
        <p>
          <a href="mailto:soporte@mawidaqa.com">soporte@mawidaqa.com</a>
        </p>
      </div>
    </div>
  </div>

  <%= render './content/footer.html.erb' %>
</div>
