<div class="container">
  <div class="page-header">
    <header>
      <div class="text-center">
        <!--[if lt IE 9]>
          <img src="/images/logo.png" alt="Cirope" width="300" height="70">
        <![endif]-->
        <!--[if gt IE 8]><!-->
          <embed src="/images/logo.svg" type="image/svg+xml" width="300" height="70">
        <!--<![endif]-->
      </div>

      <h2 class="text-center">
        Aplicaciones simples, pensadas por y para personas
      </h2>
    </header>
    <br />
  </div>

  <div>
    <h3 class="text-center">Nuestro trabajo</h3>
    <p class="text-muted text-center">
      Aplicaciones web sin frustraciones, para colaborar, compartir información
      y tomar decisiones
    </p>

    <br />

    <p class="text-center">
      <a href="https://login.cirope.com/" class="btn btn-lg btn-primary">Ingresar</a>
    </p>
  </div>

  <br />

  <%= render './content/footer.html.erb' %>
</div>
