<div>
  <header class="jumbotron masthead">
    <h1>Cirope</h1>
    <p>
      Aplicaciones simples y disfrutables, pensadas por y para personas
    </p>
  </header>
</div>

<hr />

<div class="marketing">
  <h1>Nuestro trabajo</h1>
  <p class="marketing-byline">
    Aplicaciones web sin frustraciones, para colaborar, compartir información
    y tomar decisiones
  </p>

  <div class="row">
    <div class="span4">
      <h2><a href="/mawidabp" title="MawidaBP">Mawida <em>bp</em></a></h2>
      <p>
        Defina y revise sus buenas prácticas, colabore para implementarlas y
        mejorarlas
      </p>
    </div>
    <div class="span4">
      <h2><a href="/mawidaqa" title="MawidaQA">Mawida <em>qa</em></a></h2>
      <p>
        Administre sus documentos, planifique sus capacitaciones y organize sus
        actividades de calidad
      </p>
    </div>
    <div class="span4">
      <h2><a href="/libreduca" title="Libreduca">Libreduca</a></h2>
      <p>
        Mejore la comunicación de su comunidad educativa, comparta contenidos
        y colecte datos para mejorar
      </p>
    </div>
  </div>
</div>

<%= render './content/footer.html.erb' %>
