<div class="container">
  <header>
    <div>
      <!--[if lt IE 9]>
        <img src="/images/logo_inv.png" alt="Cirope" width="300" height="70">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <embed src="/images/logo_inv.svg" type="image/svg+xml" width="300" height="70">
      <!--<![endif]-->
    </div>

    <h4>Aplicaciones simples</h4>
  </header>

  <%= render './content/footer.html.erb' %>
</div>
