<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <title>Cirope</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" media="screen" />
    <link rel="stylesheet" href="/styles/main.css" media="screen" />

    <link rel="shortcut icon" href="/images/favicon.ico" />

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%= render("./content/#{content_file}") %>
    </div>
  </body>
</html>
