<%= render './content/navbar.html.erb', active: 'libreduca' %>

<div class="container">
  <div class="jumbotron">
    <header>
      <h1>
        Libreduca <small>Comparta el conocimiento</small>
      </h1>
    </header>

    <p>
      <strong>Extienda</strong> y socialice el conocimiento.
      Cree cursos, interactúe mediante foros, genere tareas y más.
    </p>

    <br />

    <p>
      <a href="https://www.libreduca.com" class="btn btn-lg btn-primary" role="button">Ingresar</a>
    </p>
  </div>

  <%= render './content/footer.html.erb' %>
</div>
