<%= render './content/navbar.html.erb', active: 'libreduca' %>

<div class="container">
  <div class="jumbotron">
    <header>
      <h1>
        Libreduca <small>Comparta el conocimiento</small>
      </h1>
    </header>

    <p>
      <strong>Extienda</strong> y socialice el conocimiento.
      Cree cursos, interaccione mediante foros, genere tareas y más.
    </p>

    <br />

    <p>
      <a href="https://www.libreduca.com" class="btn btn-lg btn-primary" role="button">Ingresar</a>
    </p>
  </div>

  <p class="text-muted">
    Si quiere utilizarlo o está interesado en conocer más, escríbanos a
    <a href="mailto:soporte@libreduca.com">soporte@libreduca.com</a>
  </p>

  <%= render './content/footer.html.erb' %>
</div>
