<%= render './content/navbar.html.erb', active: 'mawidaqa' %>

<div class="container">
  <div class="jumbotron">
    <header>
      <h1>
        Mawida<em>qa</em> <small>Mejore y agilice sus procesos</small>
      </h1>
    </header>

    <p>
      <strong>Gestione</strong> y centralice sus documentos y procesos.
      Cree sus documentos, siga su evolución y colabore para mejorarlos.
    </p>

    <br />

    <p>
      <a href="https://www.mawidaqa.com" class="btn btn-lg btn-primary" role="button">Ingresar</a>
    </p>
  </div>

  <p class="text-muted">
    Si quiere utilizarlo o está interesado en conocer más, escríbanos a
    <a href="mailto:soporte@mawidaqa.com">soporte@mawidaqa.com</a>
  </p>

  <%= render './content/footer.html.erb' %>
</div>
