<%= render './content/navbar.html.erb', active: 'mawidabp' %>

<div class="container">
  <div class="jumbotron">
    <header>
      <h1>
        Mawida<em>bp</em> <small>Aplique sus buenas prácticas</small>
      </h1>
    </header>

    <p>
      <strong>Evolucione</strong> y administre sus buenas prácticas.
      Planifique proyectos, siga su ejecución y evalúe los resultados.
    </p>

    <br />

    <p>
      <a href="https://www.mawidabp.com" class="btn btn-lg btn-primary" role="button">Ingresar</a>
    </p>
  </div>

  <p class="text-muted">
    Si quiere utilizarlo o está interesado en conocer más, escríbanos a
    <a href="mailto:soporte@mawidabp.com">soporte@mawidabp.com</a>
  </p>

  <%= render './content/footer.html.erb' %>
</div>
