<%= render './content/navbar.html.erb', active: 'mawidabp' %>

<div class="container">
  <div>
    <header>
      <h1>Mawida <em>bp</em></h1>
      <p class="lead">
        Aplique sus buenas pr치cticas...
      </p>
    </header>

    <div class="row">
      <div class="col-lg-4">
        <h2>Grande</h2>
        <div class="well">
          <ul>
            <li>100 usuarios</li>
            <li>Proyectos ilimitados</li>
            <li>50GB de almacenamiento</li>
          </ul>
          <a href="#" class="btn btn-primary disabled">Pronto</a>
        </div>
      </div>
      <div class="col-lg-4">
        <h2>Mediano</h2>
        <div class="well">
          <ul>
            <li>30 usuarios</li>
            <li>Hasta 10 proyectos en ejecuci칩n</li>
            <li>10GB de almacenamiento</li>
          </ul>
          <a href="#" class="btn btn-primary disabled">Pronto</a>
        </div>
      </div>
      <div class="col-lg-4">
        <h2>Peque침o</h2>
        <div class="well">
          <ul>
            <li>10 usuarios</li>
            <li>Hasta 3 proyectos en ejecuci칩n</li>
            <li>5GB de almacenamiento</li>
          </ul>
          <a href="#" class="btn btn-primary disabled">Pronto</a>
        </div>
      </div>
    </div>
  </div>

  <%= render './content/footer.html.erb' %>
</div>
